[submodule "cheat/cheatsheets"]
	path = cheat/cheatsheets
	url = https://github.com/cheat/cheatsheets
[submodule "cheat/community"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets
